@media (max-width:870px)
{
  .top-container{

    width:700px;
  }

  .details-section{

    width: 700px;
  }
}

@media (max-width:770px)
{
    .top-container{

    width:600px;
  }

  .details-section{

    width: 600px;
  }
}

@media (max-width:670px)
{
    .top-container{

    width:500px;
  }

  .details-section{

    width: 500px;
  }
}

media (max-width:480px)
{
    .top-container{

    width:470px;
  }

  .details-section{

    width: 470px;
  }
}



@media (min-width:1100px)
{
    .top-container{

    width:1050px;
  }

  .details-section{

    width: 1050px;
  }
}

@media (min-width:1250px)
{
    .top-container{

    width:1200px;
  }

  .details-section{

    width: 1200px;
  }
}


@media (min-width:1500px)
{
    .top-container{

    width:1450px;
  }

  .details-section{

    width: 1450px;
  }
}

@media (min-width:1800px)
{
    .top-container{

    width:1750px;
  }

  .details-section{

    width: 1750px;
  }
}







